.container{
    width: 100%;
}
.info{
    width: 100%;
    padding: 1.25rem;
    margin:-0.625rem;
    margin-top:-2.313rem;
    background-color: #bfc4c9;

}
.info h2{
    margin-left: 5.625rem;
}
.times{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.recipe{
    display: grid;
    width:60%;
    margin-left: 25rem;
    margin-bottom:5rem;
}
.recipe h1{
    display: flex;
    justify-content: center;
}
.reviews{
    display: flex;
    justify-content: center;
}
.save{
    display: flex;
    justify-content: center;
}
.save button{
    border-radius: 10rem;
    background-color: rgb(175, 0, 0);
    color:white;
}
.save img{
    margin-left:1rem;
    padding:3px;
    border-radius:10rem ;
    border:1px solid black;
}
.testimonial{
    margin-top: 1.25rem;
    justify-self: center;
    width:30%;
    background-color: #bfc4c9;
    padding: 8px;
}
.ingredients{
    display: flex;
}
.ingredients h3,
h4{
    margin-left:2rem;
}
.left{
    margin: 3.438rem;
    width: 50%;
}
.right{
    margin: 3.438rem;
    width: 45%;
    margin-right: 5rem;
    margin-left: 0;
}