body{
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}

header{
    background-color: #F1A536;
    margin:-8px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    display: inline-block;
    margin-left:5rem;
}
header ul{
    list-style: none; 
    margin-right:9rem;
    display:flex;
    padding:0;
    align-items: center;
}
header li{
    padding:1rem;
    font-size: 22px;

}
.navLinks{
    text-decoration: none;
    color:black;
}
.hero{
 width: 100%;
 margin:-10px;
 display: inline-block;
}
.hero img{
    margin-left: 9;
    width: 110%;
    height:800px;
    object-fit: cover;
}
span h1{
    display: inline;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(253, 253, 253);
    position: relative;
    left:50rem;
    top:-15rem;
}
.contianer{
    height:100%;
}
.section{
    height: 85%;
}
.where{
    height: 45rem;
}
.info{
    width: 70%;
    position: relative;
    left:10rem;
    font-size: x-large;
    padding:0;
    margin:0;
}

.healthy{
    background-color: #DADFEA;
    margin-left:-10px;
    padding: 0;
    padding-top:5px;
}
.cardContainer{
    display:flex;
    width: 80%;
    flex-flow:row wrap;
    justify-content: space-around;
    margin:3rem;
    align-items: center;
    position: relative;
    left:5%
}
.card{
    display:flex;
    flex-flow: column nowrap;
    width:30%;
    padding:5px;
    height:300px;
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.card>a{
    text-decoration: none;
    color:black;
    font-size: x-large;
}
.card>img{
    object-fit: cover;
    width:100%;
    height:85%
}
section>.healthy>.cardLink{
    background-color: #ffff;
    padding:2px;
}

.where>.cardContainer>.card{
    border: 5px solid #DADFEA;
    margin:5px;
    padding:0;
}
.where>.cardContainer>.card>a{
    background-color: transparent;
}
  
.card > img {
    flex: 1;
    width: 100%;
    object-fit: cover;
  }
  
  .card > a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    padding: 8px;
    text-align: center;
    background-color: #f1f1f1;
  }
  .where{
    margin-bottom: 4rem;
  }
footer{
    margin:-10px;
    padding:10px;
    height:100px;
    background-color:#F1A536;
}
footer span{
    font-size: large;
    position: relative;
    top:50px;
}
footer li{
    position: relative;
    top:45px;
    display: inline-block;
    margin:10px;
    margin-top:-20px;
}
footer a{
    text-decoration: none;
    color:black;
}
